.experience {

    &__intro {
        @include breakpoint-down(medium){
            text-align: center;
        }
        @include breakpoint-up(large) {
            width: 80%;
            margin-bottom: 3.75rem;
        }
    }

    &__item {
        
        background-color:whitesmoke;
        padding: 0.9375rem;
        border-radius: 25px;
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
        transition: transform 150ms ease-in-out;
        &:not(:last-child){
            margin-bottom: 2rem;
        }

        &:hover {
            transform: scale(110%);
        }

        display: grid;
        grid-template-areas: 
        "picture location__time"
        "title title"
        "company company"
        "description description";
    }
    
    &__icon {
        height: 128px;
        grid-area: picture;
        width: 128px;
        
    }

    &__title {

        font-weight: 500;
        line-height: 1.15;
        color: green;
        margin-bottom: 0.5rem;
        grid-area: title;
        font-size: 1.75rem;

    }

    &__company {

        grid-area: company;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 0.5rem;
        color: lightgreen;
    }

    &__location__time {
        grid-area: location__time;
        line-height: 2rem;
        text-align: right;
        a {
            color: green;
            font-weight: 00;
        }
    }

    &__description {
        font-size: 1rem;
        line-height: 1.5;
        grid-area: description;
        .title {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
        }
        .description{
            color: black;
            margin-top: 0px;
            margin-bottom: 0.5rem;
            list-style-type: 	
            "\27A3";
        }
        .contact{
            color: green;
            font-weight: 400;
            a {
                color:lightgreen;
            }
        }
        
    }
}