.footer {
    
    background-color: darkslategray;
    color: white;
    padding: 2.5rem;
    text-align: center;

    .container {

        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            justify-items: start;
            gap: 1rem;
        }

    }

    a {
        color: white;
    }

    &__logo {

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
       display: inline-block; 

        @include breakpoint-up(large) {
            grid-area: logo;
        }
    }

    &__social {
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
         }

        @include breakpoint-up(large) {
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        @include breakpoint-up(large) {
            align-items: start;
            justify-content: space-between;
        }

        a {
            line-height: 2.25rem;
        }

        a:hover {
            transition: color 150ms ease-in-out;
            color: green;
        }

        &.col1 {

            @include breakpoint-up(large) {
                grid-area: links1;
            }

        }

        &.col2 {

            @include breakpoint-up(large) {
                grid-area: links2;
            }

            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
    }

    &__cta {

        @include breakpoint-up(large) {
            grid-area: cta;
            justify-self: end;
            text-align: right;
        }

        a.button {
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
        

    }

    &__copyright {
        font-size: 0.9375rem;
        @include breakpoint-up(large) {
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }

    }
} 