.hero {    

    @include breakpoint-up(large){
        min-height: 41rem;
        display: flex;  
        align-items: center;
    }

    &__image {
        
        position: relative;
        background-image: url("/Images/andy-luu.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 27.5rem;
        border-radius: 20px;
        z-index: 0;

        @include breakpoint-up(large){
            flex: 3;
            order: 2;
            min-height: 41rem;
            background-image: url("/Images/andy-luu.jpg");
            background-position: center center;
        }

/*         &::before {

            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("/Images/andy-luu.jpg");
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center center;
        } */

    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;

        }
    }

}