header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    border-bottom: 4px solid black;
    overflow: hidden;
    align-content: center;
}
  
.header-section{
    float: left;
}

.header-left{
      height: 150px;
}
  
.header-left img{
      height: 100%;
}
  
.header-middle{
    text-align: center;
    height: 150px;
    align-self: center;
}

.menu-bar-item {

    float: left;
    color: black;
    margin: 5px;
    padding: 2px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: green;
    border: 1px solid black;
  
}

.header-right{
    text-align: right;
    height: 150px;
}